In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from scipy.stats import chi2_contingency
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, precision_recall_fscore_support
import warnings
import os

In [2]:
# Load the dataset
a1 = pd.read_excel("case_study1.xlsx")
a2 = pd.read_excel("case_study2.xlsx")

In [3]:
df1 = a1.copy()
df2 = a2.copy()

In [4]:
df1

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.00,0.200,0.800,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.00,1.000,0.000,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.00,1.000,0.000,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.00,1.000,0.000,...,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.00,0.333,0.667,...,0,0,0,0,0,3,0,2,131,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,3,0,3,1,0,0.333,0.00,1.000,0.000,...,0,2,0,0,0,0,3,1,24,5
51332,51333,4,2,2,0,1,0.000,0.25,0.500,0.500,...,0,2,0,0,0,2,2,0,74,7
51333,51334,2,1,1,1,1,0.500,0.50,0.500,0.500,...,0,2,0,0,0,0,2,0,9,5
51334,51335,2,1,1,0,0,0.000,0.00,0.500,0.500,...,0,2,0,0,0,0,2,0,15,8
51335,51336,1,0,1,0,0,0.000,0.00,1.000,0.000,...,0,0,0,0,0,1,0,0,20,20

In [5]:
df2

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,15,24,23,2,24,24,0,0,0,...,0.0,0.0,0.0,1.661,0,0,ConsumerLoan,ConsumerLoan,650,P4
51332,51333,57,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.520,0,0,others,others,702,P1
51333,51334,32,-99999,-99999,0,-99999,0,0,0,0,...,0.0,1.0,0.0,0.567,0,0,ConsumerLoan,others,661,P3
51334,51335,58,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,1.202,0,0,ConsumerLoan,others,686,P2
51335,51336,74,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.000,0,0,others,others,681,P2

In [6]:
columns_to_be_removed = []

for i in df2.columns:
    if df2.loc[df2[i] == -99999].shape[0] > 10000:
        columns_to_be_removed .append(i)

In [7]:
df2 = df2.drop(columns_to_be_removed, axis =1)

In [8]:
for i in df2.columns:
    df2 = df2.loc[ df2[i] != -99999 ]

In [9]:
# Checking common column names
for i in list(df1.columns):
    if i in list(df2.columns):
        print (i)

PROSPECTID

In [10]:
# Merge the two dataframes, inner join so that no nulls are present
df = pd. merge ( df1, df2, how ='inner', left_on = ['PROSPECTID'], right_on = ['PROSPECTID'] )

In [11]:
# check how many columns are categorical
for i in df.columns:
    if df[i].dtype == 'object':
        print(i)

MARITALSTATUS
EDUCATION
GENDER
last_prod_enq2
first_prod_enq2
Approved_Flag

In [12]:
# Chi-square test
for i in ['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2']:
    chi2, pval, _, _ = chi2_contingency(pd.crosstab(df[i], df['Approved_Flag']))
    print(i, '---', pval)

MARITALSTATUS --- 3.6401547776371343e-233
EDUCATION --- 2.8651007585199264e-30
GENDER --- 1.8610038357046495e-05
last_prod_enq2 --- 0.0
first_prod_enq2 --- 8.375872889007586e-287

In [13]:
# Since all the categorical features have pval <=0.05, we will accept all

In [14]:
# VIF for numerical columns
numeric_columns = []
for i in df.columns:
    if df[i].dtype != 'object' and i not in ['PROSPECTID','Approved_Flag']:
        numeric_columns.append(i)

In [15]:
# VIF sequentially check

vif_data = df[numeric_columns]
total_columns = vif_data.shape[1]
columns_to_be_kept = []
column_index = 0

In [16]:
for i in range (0,total_columns):
    
    vif_value = variance_inflation_factor(vif_data, column_index)
    print (column_index,'---',vif_value)
    
    
    if vif_value <= 6:
        columns_to_be_kept.append( numeric_columns[i] )
        column_index = column_index+1
    
    else:
        vif_data = vif_data.drop([ numeric_columns[i] ] , axis=1)

c:\Python311\Lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

0 --- inf

c:\Python311\Lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

0 --- inf
0 --- 11.319677860911183
0 --- 8.291829772566755
0 --- 6.520138234382178
0 --- 5.059265701555735
1 --- 2.6064779388021035

c:\Python311\Lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

2 --- inf
2 --- 1779.2530019989363
2 --- 8.57605846135606
2 --- 3.829565647163703
3 --- 5.469211095570598
4 --- 5.503957502932511
5 --- 1.973712154119323

c:\Python311\Lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

6 --- inf
6 --- 4.811919298953734
7 --- 23.146961044025943
7 --- 30.634993848319926
7 --- 4.384922735753697
8 --- 3.064866354116124
9 --- 2.8932461784347443
10 --- 4.369654303665843
11 --- 2.208341258584075
12 --- 566.1909055769335
12 --- 1.0006593766842493
13 --- 1.9695830645742571
14 --- 7.841218783259259
14 --- 5.247703415624753

c:\Python311\Lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

15 --- inf
15 --- 7.377956585088547
15 --- 1.425793366814442
16 --- 8.084822288044927
16 --- 1.6226699218393807
17 --- 7.238615905249871
17 --- 15.645211505952748
17 --- 1.8184084209088587
18 --- 1.5055024528703038
19 --- 2.172012934391218
20 --- 2.6235392775473527
21 --- 2.292927625739704
22 --- 7.358811901616798
22 --- 2.158386008647164
23 --- 2.865198364020101
24 --- 6.457951397444758
24 --- 2.8464061660262128
25 --- 4.751462405159283
26 --- 16.664353050297613
26 --- 6.433862464128575
26 --- 8.90569527930927
26 --- 2.3948438776920553
27 --- 8.625154493499016
27 --- 13.097583499300075
27 --- 3.5102775257188883
28 --- 1.8461247374915497
29 --- 18.35043652870675
29 --- 10.708249343242189
29 --- 2.34600675979859
30 --- 21.54248963193387
30 --- 2.796240194688435
31 --- 3.373862552634249
32 --- 9.973017265651706
32 --- 6.0926832186982995
32 --- 1.0011742340538425
33 --- 3.0642351806835473
34 --- 2.80741173920545
35 --- 20.28118581063136
35 --- 15.881630139889586
35 --- 1.8328052344483383
36 --- 1.568234731965395
37 --- 1.8780555342424192
38 --- 4.3267589683233965
39 --- 10.843732672072079

In [17]:
# check Anova for columns_to_be_kept 

from scipy.stats import f_oneway

columns_to_be_kept_numerical = []

for i in columns_to_be_kept:
    a = list(df[i])  
    b = list(df['Approved_Flag'])  
    
    group_P1 = [value for value, group in zip(a, b) if group == 'P1']
    group_P2 = [value for value, group in zip(a, b) if group == 'P2']
    group_P3 = [value for value, group in zip(a, b) if group == 'P3']
    group_P4 = [value for value, group in zip(a, b) if group == 'P4']


    f_statistic, p_value = f_oneway(group_P1, group_P2, group_P3, group_P4)

    if p_value <= 0.05:
        columns_to_be_kept_numerical.append(i)

In [18]:
# feature selection is done for cat and num features




# listing all the final features
features = columns_to_be_kept_numerical + ['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2']
df = df[features + ['Approved_Flag']]

In [19]:
# Label encoding for the categorical features
['MARITALSTATUS', 'EDUCATION', 'GENDER' , 'last_prod_enq2' ,'first_prod_enq2']

['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2']

In [20]:
df['MARITALSTATUS'].unique()    
df['EDUCATION'].unique()
df['GENDER'].unique()
df['last_prod_enq2'].unique()
df['first_prod_enq2'].unique()

array(['PL', 'ConsumerLoan', 'others', 'AL', 'HL', 'CC'], dtype=object)

In [21]:
# Ordinal feature -- EDUCATION
# SSC            : 1
# 12TH           : 2
# GRADUATE       : 3
# UNDER GRADUATE : 3
# POST-GRADUATE  : 4
# OTHERS         : 1
# PROFESSIONAL   : 3

In [23]:
# Others has to be verified by the business end user 

df.loc[df['EDUCATION'] == 'SSC',['EDUCATION']]              = 1
df.loc[df['EDUCATION'] == '12TH',['EDUCATION']]             = 2
df.loc[df['EDUCATION'] == 'GRADUATE',['EDUCATION']]         = 3
df.loc[df['EDUCATION'] == 'UNDER GRADUATE',['EDUCATION']]   = 3
df.loc[df['EDUCATION'] == 'POST-GRADUATE',['EDUCATION']]    = 4
df.loc[df['EDUCATION'] == 'OTHERS',['EDUCATION']]           = 1
df.loc[df['EDUCATION'] == 'PROFESSIONAL',['EDUCATION']]     = 3

In [24]:
df['EDUCATION'].value_counts()
df['EDUCATION'] = df['EDUCATION'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42066 entries, 0 to 42065
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   pct_tl_open_L6M            42066 non-null  float64
 1   pct_tl_closed_L6M          42066 non-null  float64
 2   Tot_TL_closed_L12M         42066 non-null  int64
 3   pct_tl_open_L12M           42066 non-null  float64
 4   pct_tl_closed_L12M         42066 non-null  float64
 5   Tot_Missed_Pmnt            42066 non-null  int64
 6   CC_TL                      42066 non-null  int64
 7   Home_TL                    42066 non-null  int64
 8   PL_TL                      42066 non-null  int64
 9   Secured_TL                 42066 non-null  int64
 10  Unsecured_TL               42066 non-null  int64
 11  Other_TL                   42066 non-null  int64
 12  time_since_recent_payment  42066 non-null  int64
 13  max_recent_level_of_deliq  42066 non-null  int64
 14  num_deliq_6_12mts          42066 non-null  int64
 15  num_times_60p_dpd          42066 non-null  int64
 16  num_std_12mts              42066 non-null  int64
 17  num_sub                    42066 non-null  int64
 18  num_sub_6mts               42066 non-null  int64
 19  num_sub_12mts              42066 non-null  int64
 20  num_dbt                    42066 non-null  int64
 21  num_dbt_12mts              42066 non-null  int64
 22  num_lss                    42066 non-null  int64
 23  recent_level_of_deliq      42066 non-null  int64
 24  CC_enq_L12m                42066 non-null  int64
 25  PL_enq_L12m                42066 non-null  int64
 26  time_since_recent_enq      42066 non-null  int64
 27  enq_L3m                    42066 non-null  int64
 28  NETMONTHLYINCOME           42066 non-null  int64
 29  Time_With_Curr_Empr        42066 non-null  int64
 30  CC_Flag                    42066 non-null  int64
 31  PL_Flag                    42066 non-null  int64
 32  pct_PL_enq_L6m_of_ever     42066 non-null  float64
 33  pct_CC_enq_L6m_of_ever     42066 non-null  float64
 34  HL_Flag                    42066 non-null  int64
 35  GL_Flag                    42066 non-null  int64
 36  MARITALSTATUS              42066 non-null  object
 37  EDUCATION                  42066 non-null  int32
 38  GENDER                     42066 non-null  object
 39  last_prod_enq2             42066 non-null  object
 40  first_prod_enq2            42066 non-null  object
 41  Approved_Flag              42066 non-null  object
dtypes: float64(6), int32(1), int64(30), object(5)
memory usage: 13.6+ MB

In [25]:
df_encoded = pd.get_dummies(df, columns=['MARITALSTATUS','GENDER', 'last_prod_enq2' ,'first_prod_enq2'])

In [26]:
df_encoded.info()
k = df_encoded.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42066 entries, 0 to 42065
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pct_tl_open_L6M               42066 non-null  float64
 1   pct_tl_closed_L6M             42066 non-null  float64
 2   Tot_TL_closed_L12M            42066 non-null  int64
 3   pct_tl_open_L12M              42066 non-null  float64
 4   pct_tl_closed_L12M            42066 non-null  float64
 5   Tot_Missed_Pmnt               42066 non-null  int64
 6   CC_TL                         42066 non-null  int64
 7   Home_TL                       42066 non-null  int64
 8   PL_TL                         42066 non-null  int64
 9   Secured_TL                    42066 non-null  int64
 10  Unsecured_TL                  42066 non-null  int64
 11  Other_TL                      42066 non-null  int64
 12  time_since_recent_payment     42066 non-null  int64
 13  max_recent_level_of_deliq     42066 non-null  int64
 14  num_deliq_6_12mts             42066 non-null  int64
 15  num_times_60p_dpd             42066 non-null  int64
 16  num_std_12mts                 42066 non-null  int64
 17  num_sub                       42066 non-null  int64
 18  num_sub_6mts                  42066 non-null  int64
 19  num_sub_12mts                 42066 non-null  int64
 20  num_dbt                       42066 non-null  int64
 21  num_dbt_12mts                 42066 non-null  int64
 22  num_lss                       42066 non-null  int64
 23  recent_level_of_deliq         42066 non-null  int64
 24  CC_enq_L12m                   42066 non-null  int64
 25  PL_enq_L12m                   42066 non-null  int64
 26  time_since_recent_enq         42066 non-null  int64
 27  enq_L3m                       42066 non-null  int64
 28  NETMONTHLYINCOME              42066 non-null  int64
 29  Time_With_Curr_Empr           42066 non-null  int64
 30  CC_Flag                       42066 non-null  int64
 31  PL_Flag                       42066 non-null  int64
 32  pct_PL_enq_L6m_of_ever        42066 non-null  float64
 33  pct_CC_enq_L6m_of_ever        42066 non-null  float64
 34  HL_Flag                       42066 non-null  int64
 35  GL_Flag                       42066 non-null  int64
 36  EDUCATION                     42066 non-null  int32
 37  Approved_Flag                 42066 non-null  object
 38  MARITALSTATUS_Married         42066 non-null  uint8
 39  MARITALSTATUS_Single          42066 non-null  uint8
 40  GENDER_F                      42066 non-null  uint8
 41  GENDER_M                      42066 non-null  uint8
 42  last_prod_enq2_AL             42066 non-null  uint8
 43  last_prod_enq2_CC             42066 non-null  uint8
 44  last_prod_enq2_ConsumerLoan   42066 non-null  uint8
 45  last_prod_enq2_HL             42066 non-null  uint8
 46  last_prod_enq2_PL             42066 non-null  uint8
 47  last_prod_enq2_others         42066 non-null  uint8
 48  first_prod_enq2_AL            42066 non-null  uint8
 49  first_prod_enq2_CC            42066 non-null  uint8
 50  first_prod_enq2_ConsumerLoan  42066 non-null  uint8
 51  first_prod_enq2_HL            42066 non-null  uint8
 52  first_prod_enq2_PL            42066 non-null  uint8
 53  first_prod_enq2_others        42066 non-null  uint8
dtypes: float64(6), int32(1), int64(30), object(1), uint8(16)
memory usage: 13.0+ MB

In [27]:
# Machine Learing model fitting
# Data processing

# 1. Random Forest

In [28]:
y = df_encoded['Approved_Flag']
x = df_encoded. drop ( ['Approved_Flag'], axis = 1 )


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
rf_classifier = RandomForestClassifier(n_estimators = 200, random_state=42)
rf_classifier.fit(x_train, y_train)
y_pred = rf_classifier.predict(x_test)



accuracy = accuracy_score(y_test, y_pred)
print ()
print(f'Accuracy: {accuracy}')
print ()
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred)


for i, v in enumerate(['p1', 'p2', 'p3', 'p4']):
    print(f"Class {v}:")
    print(f"Precision: {precision[i]}")
    print(f"Recall: {recall[i]}")
    print(f"F1 Score: {f1_score[i]}")
    print()

Accuracy: 0.7382933206560495

Class p1:
Precision: 0.7637271214642263
Recall: 0.4727085478887745
F1 Score: 0.583969465648855

Class p2:
Precision: 0.764026931708881
Recall: 0.9272373540856031
F1 Score: 0.8377570750571278

Class p3:
Precision: 0.4408014571948998
Recall: 0.19626926196269262
F1 Score: 0.2716049382716049

Class p4:
Precision: 0.7261208576998051
Recall: 0.6962616822429907
F1 Score: 0.7108778625954199

In [29]:
# 2. xgboost

import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

xgb_classifier = xgb.XGBClassifier(objective='multi:softmax',  num_class=4)



y = df_encoded['Approved_Flag']
x = df_encoded. drop ( ['Approved_Flag'], axis = 1 )


label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)


x_train, x_test, y_train, y_test = train_test_split(x, y_encoded, test_size=0.2, random_state=42)




xgb_classifier.fit(x_train, y_train)
y_pred = xgb_classifier.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print ()
print(f'Accuracy: {accuracy:.2f}')
print ()

precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred)

for i, v in enumerate(['p1', 'p2', 'p3', 'p4']):
    print(f"Class {v}:")
    print(f"Precision: {precision[i]}")
    print(f"Recall: {recall[i]}")
    print(f"F1 Score: {f1_score[i]}")
    print()

Accuracy: 0.74

Class p1:
Precision: 0.7340720221606648
Recall: 0.5458290422245108
F1 Score: 0.6261075014766686

Class p2:
Precision: 0.7852225020990764
Recall: 0.909727626459144
F1 Score: 0.8429022082018928

Class p3:
Precision: 0.43411927877947293
Recall: 0.25385239253852393
F1 Score: 0.3203684749232344

Class p4:
Precision: 0.7283464566929134
Recall: 0.6915887850467289
F1 Score: 0.7094918504314477

In [ ]:
# 3. Decision Tree
from sklearn.tree import DecisionTreeClassifier


y = df_encoded['Approved_Flag']
x = df_encoded. drop ( ['Approved_Flag'], axis = 1 )

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)


dt_model = DecisionTreeClassifier(max_depth=20, min_samples_split=10)
dt_model.fit(x_train, y_train)
y_pred = dt_model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print ()
print(f"Accuracy: {accuracy:.2f}")
print ()

precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred)

for i, v in enumerate(['p1', 'p2', 'p3', 'p4']):
    print(f"Class {v}:")
    print(f"Precision: {precision[i]}")
    print(f"Recall: {recall[i]}")
    print(f"F1 Score: {f1_score[i]}")
    print()





# xgboost is giving me best results
# We will further finetune it


# Apply standard scaler 

from sklearn.preprocessing import StandardScaler

columns_to_be_scaled = ['Age_Oldest_TL','Age_Newest_TL','time_since_recent_payment',
'max_recent_level_of_deliq','recent_level_of_deliq',
'time_since_recent_enq','NETMONTHLYINCOME','Time_With_Curr_Empr']

for i in columns_to_be_scaled:
    column_data = df_encoded[i].values.reshape(-1, 1)
    scaler = StandardScaler()
    scaled_column = scaler.fit_transform(column_data)
    df_encoded[i] = scaled_column

In [31]:
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

xgb_classifier = xgb.XGBClassifier(objective='multi:softmax',  num_class=4)



y = df_encoded['Approved_Flag']
x = df_encoded. drop ( ['Approved_Flag'], axis = 1 )


label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)


x_train, x_test, y_train, y_test = train_test_split(x, y_encoded, test_size=0.2, random_state=42)




xgb_classifier.fit(x_train, y_train)
y_pred = xgb_classifier.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')


precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred)

for i, v in enumerate(['p1', 'p2', 'p3', 'p4']):
    print(f"Class {v}:")
    print(f"Precision: {precision[i]}")
    print(f"Recall: {recall[i]}")
    print(f"F1 Score: {f1_score[i]}")
    print()

Accuracy: 0.74
Class p1:
Precision: 0.7340720221606648
Recall: 0.5458290422245108
F1 Score: 0.6261075014766686

Class p2:
Precision: 0.7852225020990764
Recall: 0.909727626459144
F1 Score: 0.8429022082018928

Class p3:
Precision: 0.43411927877947293
Recall: 0.25385239253852393
F1 Score: 0.3203684749232344

Class p4:
Precision: 0.7283464566929134
Recall: 0.6915887850467289
F1 Score: 0.7094918504314477

In [32]:
# No improvement in metrices

# Hyperparameter tuning in xgboost
from sklearn.model_selection import GridSearchCV
x_train, x_test, y_train, y_test = train_test_split(x, y_encoded, test_size=0.2, random_state=42)

# Define the XGBClassifier with the initial set of hyperparameters
xgb_model = xgb.XGBClassifier(objective='multi:softmax', num_class=4)

# Define the parameter grid for hyperparameter tuning

param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 5, 7],
    'learning_rate': [0.01, 0.1, 0.2],
}

grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, scoring='accuracy', n_jobs=-1)
grid_search.fit(x_train, y_train)

# Print the best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Evaluate the model with the best hyperparameters on the test set
best_model = grid_search.best_estimator_
accuracy = best_model.score(x_test, y_test)
print("Test Accuracy:", accuracy)

# Best Hyperparameters: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200}

Best Hyperparameters: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200}
Test Accuracy: 0.7474447349655337

In [33]:
# Based on risk appetite of the bank, you will suggest P1,P2,P3,P4 to the business end user

 # Hyperparameter tuning for xgboost (Used in the session)

 # Define the hyperparameter grid
param_grid = {
   'colsample_bytree': [0.1, 0.3, 0.5, 0.7, 0.9],
   'learning_rate'   : [0.001, 0.01, 0.1, 1],
   'max_depth'       : [3, 5, 8, 10],
   'alpha'           : [1, 10, 100],
   'n_estimators'    : [10,50,100]
 }

In [38]:
# index = 0

answers_grid = {
'combination'       :[],
'train_Accuracy'    :[],
'test_Accuracy'     :[],
'colsample_bytree'  :[],
'learning_rate'     :[],
'max_depth'         :[],
'alpha'             :[],
'n_estimators'      :[]

}

In [ ]:
# Loop through each combination of hyperparameters
for colsample_bytree in param_grid['colsample_bytree']:
    for learning_rate in param_grid['learning_rate']:
        for max_depth in param_grid['max_depth']:
           for alpha in param_grid['alpha']:
               for n_estimators in param_grid['n_estimators']:
                                 index = index + 1
             
#Define and train the XGBoost model
model = xgb.XGBClassifier(objective='multi:softmax',  
num_class=4,
colsample_bytree = colsample_bytree,
learning_rate = learning_rate,
max_depth = max_depth,
alpha = alpha,
n_estimators = n_estimators)
               
       
                     
y = df_encoded['Approved_Flag']
x = df_encoded. drop ( ['Approved_Flag'], axis = 1 )

label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)


x_train, x_test, y_train, y_test = train_test_split(x, y_encoded, test_size=0.2, random_state=42)


model.fit(x_train, y_train)
  

       
# Predict on training and testing sets
y_pred_train = model.predict(x_train)
y_pred_test = model.predict(x_test)
       
# Calculate train and test results
              
train_accuracy =  accuracy_score (y_train, y_pred_train)
test_accuracy  =  accuracy_score (y_test , y_pred_test)
              
              
       
# Include into the lists
answers_grid['combination'].append(index)
answers_grid['train_Accuracy'].append(train_accuracy)
answers_grid['test_Accuracy'].append(test_accuracy)
answers_grid['colsample_bytree'].append(colsample_bytree)
answers_grid['learning_rate'].append(learning_rate)
answers_grid['max_depth'].append(max_depth)
answers_grid['alpha'].append(alpha)
answers_grid['n_estimators'].append(n_estimators)
       
       
# Print results for this combination
print(f"Combination {index}")
print(f"colsample_bytree: {colsample_bytree}, learning_rate: {learning_rate}, max_depth: {max_depth}, alpha: {alpha}, n_estimators: {n_estimators}")
print(f"Train Accuracy: {train_accuracy:.2f}")
print(f"Test Accuracy : {test_accuracy :.2f}")
print("-" * 30)